.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

#search-input {
    width: 90%;
    margin: auto;
    border-radius: 1em;
    box-shadow: none;
    border: 0;
    padding: 0.9em 1em;
}
